* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    color: white;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

#hero-banner {
    height: 100vh;

    background: url(hd.jpeg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

h2 {
    font-size: 3rem;
    padding: 4px;
}

#about {
    background-color: rgb(244, 145, 145);
    width: 100%;
}

#projects {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}
#skills {
    width: 100%;
}

#projects,
#about,
#skills {
    padding: 1rem;
}

.cards {
    display: flex;
    text-align: center;
    align-items: center;
    height: 300px;
}

.box1,
.box2,
.box3 {
    height: 300px;
    width: 200px;
    color: black;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;

   }

p {
    line-height: 1.8;
}

.aboutMe_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 40%;
}

img {
width: 100%;
height: 50%;
object-fit: cover;
}

form {
    background-color: brown;
    color: white;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
input {
    width: 50%;
    padding: 12px 10px;
    margin: 10px 10px;
    border: 1px solid rgb(18, 17, 17);
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: brown;
}

button {
    background-color: coral;
}

i {
    font-size: 25px;
    color: red;
    padding: 0.5rem;
}


@media (max-width:576px) {
    #hero-banner {
        justify-content: center;
        align-items: center;
    }
}

