body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.finalOrder {
    border: solid rgb(145, 29, 29) 5px;
    width: 1000px;
    height: 500px;
}