body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 251, 235);
    color: rgb(4, 83, 4);
}

.hero-image {
    background-image: url(pizza.jpeg);
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

form, div {
    font-size: 25px;
}

label {
    font-size: 20px;
}

h1, h2 {
    font-family: inherit;
    font-size: 30px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    
}

.order,
.user_order {
    flex: 50%;
}

#toppings {
    display: flex;
    flex-flow: row wrap;
}

#name {
    width: 30%;
    font-family: inherit;
    font-size: 16px;
}

#delivery {
    padding-top: 1.5rem;
    font-family: inherit;
    font-size: 16px;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}