* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: pink;
    font-family: Impact, sans-serif;
    color: white;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(228,99,211,1) 35%, rgba(0,212,255,1) 100%); */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header, section, footer {
    padding: 1rem;
}

.bg {
    background: white;
    color: #333;
    padding: 0.5rem;
}

.bg h1{
    font-size: 1rem;
}

.mobile {
    display: none;
    background: none;
    border: none;
    box-shadow: none;
    color: white;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
}

ul.responsive {
    display: block;
    background-color: white;
    color:#333;
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100%;
}

ul.responsive li {
    display: block;
    margin: 1rem;
}

section {
    min-height: 75vh;
    scroll-margin-top: 5rem;
}

section:first-child, header {
    background-color: rgba(142, 84, 154, 0.674);
}

section:nth-child(2) {
    background-color: rgb(88, 60, 94);
}

section:last-child {
    background-color: rgb(219, 188, 225);
}
.btn {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 0.5rem 1.5rem;
    background-color: whitesmoke;
    font-size: inherit;
    font-family: inherit;

}

#backToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

footer {
    background-color: #333;
}

/* overlay modal */

.overlay {
    background-color: rgba(51, 51, 51, 0.665);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.overlay.visible {
    display: flex;
}

.modal {
    background-color: white;
    color: #333;
    height: 50vh;
    width: 75vw;
    padding: 2rem;
    border-radius: 5px;
    position: relative;

}

.modal button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}


/* mobile settings */

@media (max-width: 800px) {
    nav ul {
        display: none;
    }
    .mobile {
        display: block;
    }
    header.bg.mobile {
        color: #333;
    }
  }